.background-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire area */
    background-position: center;
    transition: opacity 1s ease-in-out; /* Smooth transition for fade */
}

.fade {
    opacity: 1; /* Fully visible */
}
